Workspace/Back_End.code-workspace
Workspace/Front_End.code-workspace
**/.vscode
**/Tailwindcss
**/node_modules
/Workspace
Web/Front_End/Project_Web/**/.git
Web/Front_End/Project_Web/Assets_Local/Font
Web/Front_End/Project_Web/WEB1
Web/Front_End/Project_Web/Do_An_Web_Nam2_HK2
Web/Front_End/Project_Web/doanweb
Web1/
Java/
JavaOOP/
Web/Front_End/Project_Web/Web-LN-Store/HTML/demo