@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root{
     --bg-black: #000;
     --bg-white: #fff;
     --bg-hover: #ccc;
     --bg-hover-red: #f44336;
     --border: #ccc;
     --text-color: #fff;
     --text-grey: #757575;
} */

/* reset CSS */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html{
     font-family:Arial, Helvetica, sans-serif;
     font-size: 15px;
}

/* CSS */
.awesome-icons {
     position: absolute;
     margin-left: 5px;
     top: 22%;
     color: var(--text-color);
}

.bg-black {
     background-color: var(--bg-black) !important;
}

.bg-white {
     background-color: var(--bg-white) !important;
}

.image {
     max-height: 300px;
     object-fit: cover;
     background-repeat: no-repeat;
}

.color-text {
     color: var(--text-color) !important;
}

.text-center {
     text-align: center !important;
}

.text-left {
     text-align: left !important;
}

.text-right {
     text-align: right !important;
}

.border {
     border: 1px solid var(--border);
}

.slider {
     position: relative;
     object-fit: contain;
     background-size: 100%;
     background-position:center;
     background-repeat: no-repeat;
}

.web-padding-64 {
     padding: 64px 16px;
}

.web-padding-32 {
     padding: 32px 0;
}

.web-container {
     max-width: 900px;
     margin-inline: 23%;
}

.opacity {
     opacity: 0.6 ;
}

.italic {
     font-style: italic !important;
}

.bolder {
     font-weight: bolder !important;
}

.justify {
     text-align: justify !important;
}

.margin-bottom {
     margin-bottom: 16px !important;
}

.margin-y-10 {
     margin: 10px 0 !important;
}

.margin-y-15 {
     margin: 15px 0 !important;
}

.row {
     padding-inline: 8px;
}

.two-col {
     float: left;
     width: 50% !important;
}

.third-col {
     float: left;
     width: 33.3333333% !important;
}

.clear {
     clear: both !important;
}

.btn {
     border: none;
     cursor: pointer;
     font-size: 16px;
     line-height: 1.5;
     padding: 8px 16px;
     color: var(--text-color);
     background-color: var(--bg-black);
}

.btn:hover {
     color: var(--bg-black);
     background-color: var(--border);
}

.float-left {
     float: left !important;
}

.float-right {
     float: right !important;
}

.input {
     padding: 8px !important;
     outline-style: none;
}

.web-half {
     width: 50%;
     padding-inline: 8px;
     float: left;
}

/* CSS for header bar */
#header-content{
     top: 0;
     z-index: 1;
     width: 100%;
     height: 46px;
     position: fixed;
     list-style: none;
     background-color: var(--bg-black);
}

/*CSS for li tags that's the first child in the header bar*/
#header-content .nav {
     display: inline-block;
}

.nav >li{
     position: relative;
     display: inline-block;
     min-width: fit-content;
}

.nav li a{
     display: block;
     text-decoration: none;
     color: var(--text-color);
}

.nav >li > a{
     line-height: 46px;
     padding: 0px 24px;
     text-transform: uppercase;
}

.nav >li:hover >a,
.nav .subnav li:hover a{
     width: 100%;
     display: inline-block;
     background: var(--bg-hover);
}

.nav .subnav {
     display: none;
     position: absolute;
     left: 0;
     top: 100%;
     min-width: 160px;
     list-style: none;
     background-color: var(--bg-white);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* when hover More button subnav will display */
.nav li:hover .subnav{
     display: block;
}

.nav .subnav a{
     padding: 0 12px;
     line-height: 38px;
     color: var(--bg-black);
}

/* CSS for search button */
#header-content .search-btn {
     float: right;
     padding: 0 24px;
     line-height: 46px;
}

#header-content .search-btn:hover {
     cursor: pointer;
     background-color: var(--bg-hover-red);
}

#header-content .search-btn .awesome-icons {
     margin: 0;
     position:relative;
}
/* end CSS for header bar and continue to main content */

#main-content{
     margin-top: 46px;
}

#main-content .slider {
     padding-top: 41%;
     background-image: url('../Images/BackGrounds/__acheron_honkai.jpg');
}

/* CSS for slider */
#main-content .slider-text {
     left: 50%;
     bottom: 47px;
     position: absolute;
     color: var(--text-color);
     transform: translateX(-50%);
}

.slider-text h3 {
     margin: 10px;
     font-size: 26px;
     font-weight: 500;
}

.slider-text p {
     font-size: 15px;
     font-weight: 600;
}

/* CSS for first content product  */
#main-content .content-product {
     line-height: 1.5;
     text-align: center;
}

/* h2 content */
.content-product h2 {
     font-size: 30px;
     font-weight: 400;
     letter-spacing: 5px;
}

/* reset float */
.content-product .tag-member::after {
     content: " ";
     clear: both;
     display: table;
}

/* CSS for second content product */
#main-content .content-product .list-item {
     text-align: left;
     list-style: none;
     position: relative;
}

.content-product .list-item li {
     padding: 8px 16px;
}

.list-item li .tags {
     margin-left: 16px;
     padding-inline: 8px;
     display: inline-block;
     color: var(--text-color);
     background-color: var(--bg-hover-red);
}

.list-item li .remain-ticket {
     float: right;
     margin-right: 16px;
     border-radius: 50%;
     padding-inline: 8px;
     background-color: var(--bg-black);
}

#main-content .buy-ticket {
     margin-inline: -8px;
}

.content-product .buy-ticket img{
     margin-bottom: -0.41rem;
}

.content-product .buy-ticket .tag-ticket {
     display: inline-block;
     text-align: left;
     padding: 0.01rem 16px;
     max-width: 100%;
}

/* reset float */
.content-product .buy-ticket::after {
     content: "";
     display: table;
     clear: both;
}

/* CSS for third content product */
.content-product .information .input{
     width: 100%;
}

.content-product .table-info p {
     font-size: 17px;
}

.table-info p > i {
     padding-right: 5px;
}

/* first reset float */
.content-product .table-info::after {
     content: " ";
     display: table;
     clear: both;
}

.content-product .information .handler {
     margin-inline: -8px;
}

/* second reset float */
.content-product .information .handler::after {
     content: " ";
     clear: both;
     display: table;
}

/* CSS for last banner  */
#main-content .content-product .banner {
     width: 100%;
     padding-top: 35%;
     background: url("../Images/BackGrounds/siteheader_weakestTamerLN_864x300.jpg") top center / contain no-repeat;

}