:root {
     --main-color: #81BAEA;
     --primary-dark: #000;
     --primary-white: #fff;
     --primary-grey: #dddddd;
     --active: rgb(144, 212, 255);
     --footer-bg: #242434;
     --bg-body: #ECECEC;
     --bg-red: #E94F52;
     --bg-flash-sale: linear-gradient(rgba(255, 136, 136, 0.4), rgb(255, 87, 87));
     --body-theme: #232627;
     --btn-hover: #689AF2;
     --border: rgba(113, 156, 227, 0.3);
     --price-color: #7FC8F5;
     --overlay: rgba(0, 0, 0, 0.5);
     --filter: linear-gradient(rgba(174, 241, 255, 0.5), rgba(255, 255, 255, 0));
     --filter-reverse: linear-gradient(rgba(255, 255, 255, 0), rgba(174, 241, 255, 0.5));

     --max-height-header: 3.5em;
     /* --btn-height: 2.5em; */
     --max-search-bar: 4em;
     --normal-radius: 0.25em;
     --higher-radius: 0.5em;
     --search-radius: 2em;
}

/* reset CSS */
*, ::before, ::after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html {
     font-size: 16px;
     box-sizing: border-box;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
     height: 100%;
     background-color: var(--bg-body);
}

.body-theme {
     background-color: var(--body-theme) !important;
}

a {
     color: inherit;
     text-decoration: none;
}

img {
     display: block;
     object-fit: cover;
}

del {
     color: var(--primary-dark) !important;
     opacity: 0.4;
}

ul {
     list-style: none;
}

/* CSS global */

/* width & height */
.full-width {
     width: 100%;
}

.full-height {
     height: 100%;
}

.min-height-40 {
     min-height: 2.5em;
}
/* end width & height */

/* margin & padding */
.margin-left-8 {
     margin-left: 0.5em;
}

.margin-right-8 {
     margin-right: 0.5em;
}

.margin-right-12 {
     margin-right: 0.75em;
}

.margin-left-12 {
     margin-left: 0.75em;
}

.margin-top-24 {
     margin-top: 1.5em;
}

.margin-y-4 {
     margin: 0.25em 0;
}

.margin-y-12 {
     margin: 0.75em 0;
}

.margin-y-24 {
     margin: 1.5em 0;
}

.margin-bottom-8 {
     margin-bottom: 0.5em;
}

.margin-bottom-12 {
     margin-bottom: 0.75em;
}

.margin-bottom-20 {
     margin-bottom: 1.25em;
}

.margin-inline-12 {
     margin-inline: 0.75em;
}

.padding-left-8 {
     padding-left: 0.5em;
}

.padding-right-8 {
     padding-right: 0.5em;
}

.padding-inline-12 {
     padding-inline: 0.75em;
}

.padding-left-16 {
     padding-left: 1em;
}

.padding-right-16 {
     padding-right: 1em;
}

.padding-8 {
     padding: 0.5em;
}
/* end margin & padding */

/* text & font style */
.uppercase {
     text-transform: uppercase;
}

.lowercase {
     text-transform: lowercase;
}

.capitalize {
     text-transform: capitalize;
}

.italic {
     font-style: italic;
}

.underline {
     text-decoration: underline;
}

.font-bold {
     font-weight: bold;
}

.font-light {
     font-weight: 450;
} 

.font-size-13 {
     font-size: 0.813rem;
}

.font-size-14 {
     font-size: 0.875rem;
}

.font-size-20 {
     font-size: 1.25rem;
}
/* end text & font style */

/* display */
.two-col {
     width: 50%;
}

.three-col {
     width: 33.33333%;
}

.four-col {
     width: 25%;
}

.text-center {
     text-align: center;
}

.flex {
     display: flex;
     flex-flow: row wrap;
}

.justify-center {
     justify-content: center;
}

.align-center {
     align-items: center;
}

.flex-direction-y {
     display: flex;
     flex-flow: column wrap;
}

.line-height-1-6 {
     line-height: 1.6;
}

.line-height-1-5 {
     line-height: 1.5;
}

.line-height-1-4 {
     line-height: 1.4;
}

.opacity-0-6 {
     opacity: 0.6;
}

.opacity-0-8 {
     opacity: 0.8;
}
/* end display */

/* background */
.js-bg-white {
     background-color: var(--primary-white);
}
.js-bg-dark {
     color: var(--primary-white) !important;
     background-color: var(--primary-dark);
}

.overlay {
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 2;
     width: 100%;
     height: 100%;
     display: none;
     cursor: pointer;
     position: fixed;
     background: var(--overlay) !important;
}

/* don't show mobile content on tablet and desktop */
.mobile-content {
     display: none !important;
}
/* end background */

/* button & items */
.search-btn {
     top: 0;
     right: 0;
     position: absolute;
}

/* css for nav button */
.nav-btn {
     left: 0;
     right: 0;
     top: 50%;
     position: absolute;
}
.nav-btn .previous-btn,
.nav-btn .next-btn {
     padding: 1.5em 1em;
     border-radius: 0.5em;
     display: flex;
     cursor: pointer;
     position: absolute;
     align-items: center;
     justify-content: center;
     background: var(--main-color);
}

.nav-btn .previous-btn {
     left: 0;
     margin-right: 1em;
     transform: translateX(-68%);
}

.nav-btn .next-btn {
     right: 0;
     margin-left: 1em;
     transform: translateX(70%);
}

.nav-btn .previous-btn:hover,
.nav-btn .next-btn:hover {
     background: var(--btn-hover);
}
/* end button & items */

/* css for cart ui */
.cart-ui {
     padding: 0.75em;
     border-radius: var(--higher-radius);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
     background-color: var(--primary-white);
}
/* end css for cart ui */

/* animation */
@keyframes fadeIn {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

@keyframes fadeOut {
     0% {
          opacity: 1;
     }

     100% { 
          opacity: 0;
     }
}

@keyframes zoomScale {
     0% {
          transform: scale(1) translateY(0);
     }

     100% {
          transform: scale(1.01) translateY(-1%);
     }
}

@keyframes zoomText {
     0% {
          font-size: 0.82rem;
     }

     100% {
          font-size: 1rem;
     }
}

@keyframes overflowText {
     0% {
          transform: translateX(0%);
     }

     100% {
          transform: translateX(-100%);
     }
}

/* other */
.s-m-content {
     display: none;
}

.disable {
     display: none !important;
}

.active {
     display: unset !important;
}

*.active {
     animation: fadeIn linear .4 !important;
}

.no-outline {
     outline: none;
}

.no-decoration {
     text-decoration: none;
}


/* css for class price */
.price {
     color: var(--price-color);
}

.total-price {
     color: var(--bg-red);
}
